* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}


#n4m-wrapper {
    display: grid;
    grid-template-columns: 248px 1fr;
    height: 100vh;

}

.toggled#n4m-wrapper {
    grid-template-columns: 68px 1fr;
}

#n4m-sidebar-wrapper {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05);
    transition: width 2s ease;
}

#n4m-sidebar-wrapper>.sidebar-nav {
    padding: 16px 12px 0 12px;
    list-style: none;
}

#n4m-sidebar-wrapper>.sidebar-nav>.sidebar-nav-link {

    margin-bottom: 4px;
    padding: 10px 12px
}



#n4m-content-wrapper {
    display: grid;
    grid-template-rows: 58px 1fr;

}

.main-nav {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 56px;
}

.main-content {
    background: #F0F5FA;
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);*/
    padding: 32px 35px;
}

.nav-link-active {
    background: #E00000;
    border-radius: 4px;
    color: white;

}

.list-card {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    margin-top: 32px;

}

.card-custommize {
    border-radius: 16px;
}

.card-custommize-header {
    padding: 16px 24px 0 16px;
    display: flex;
    justify-content: space-between;
}

.card-sub-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 20px;
}

.card-progress {
    padding: 8px 20px 0 20px
}

.card-custommize-header>span {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* color: #FFFFFF; */
}

.card-percent {
    font-size: 12px;
    line-height: 16px;
    color: inherit;
    padding: 4px 20px 24px 20px;
}

.card-percent-count {
    color: inherit;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 2px 8px;
    margin-left: 8px;
}

.card-custommize-footer {
    color: #FFFFFF;
    padding: 16px 24px 12px 20px;
    background: rgba(255, 255, 255, 0.1)
}

.fake-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.fake-dot-white {
    background: white;
}

.fake-dot-cyan-op {
    background: #DFF3F5;
}

.fake-dot-blue-op {
    background: #E8F0FC;
}

.fake-dot-red {
    background: #D42020;
}

.fake-dot-blue {
    background: #2B2ED9;
}

.fake-dot-semi-blue {
    background: #0B5CD7
}

.fake-dot-red-semi-pink {
    background: #F34966;
}

.fake-dot-cyan {
    background: #0E6C88;
}

.fake-dot-semi-cyan {
    background: #09B3CA;
}

.fake-dot-boder-white {
    border: 1px solid #FFFFFF;
}

.fake-dot-boder-gray {
    border: 1px solid #E0E1E1;
}

.card_orange {
    background: #FF5E4D;
    color: #FD5441;
}

.card_semi_pink {
    background: #F83759;
    color: #F83759;
}

.card_default {
    background: white;

}

.card-percent-count-cyan {
    background: #DFF3F5;
    border: 1px solid #8FDFEA;
    color: #09B3CA;
}

.card_default>.card-percent-count {
    /* color: #737678; */
}

.card_default>.card-percent {
    /* color: #0A0A0A; */
}

.card_default>.card-custommize-footer {
    color: #414344;
}

.card_blue {
    background: #0B5CD7;
    color: #0B5CD7;
}

.card_cyan {
    background: #09B3CA;
    color: #09B3CA;
}

.nav-link-active svg {
    fill: white
}

.card-percent-count-blue {
    color: #0B5CD7;
    background: #E8F0FC;
    border: 1px solid #97CAFC;
}

.card-percent-count-yellow {
    color: #EA780E;
    background: #FCF5ED;
    border: 1px solid #FCD197;
}

.sidebar-logo {
    padding: 24px 24px 24px 24px;
    position: relative;
}

.btn-expand {
    position: absolute;
    top: 45%;
    right: 0%;
    /* transform: rotateY(-50%); */
    background: #9C9FA0;
    border-radius: 5px 0px 0px 5px;
    width: 11px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: right .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggled .btn-expand {
    right: -11px;
    border-radius: 0px 5px 5px 0px;
}


#svg-open {
    display: block;

}

#svg-close {
    display: none;
}

.toggled #svg-open {
    display: none;

}

.toggled #svg-close {
    display: block;

}

.content-title {

    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    color: #414344;
    border-bottom: 1px solid #E0E1E1;
    letter-spacing: -0.022em;

}

.list-card-super {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 40px;
    grid-column-gap: 25px;

}

.card-mini {
    display: grid;
    grid-template-columns: 62px 1fr;
    border-radius: 16px;
    background: #FFFFFF;
    padding: 12px;
}

.card-mini-content-brand {
    color: #737678;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.card-mini-content-count {
    color: #12131A;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.my-name {
    color: #414344;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.my-avatar {
    background: linear-gradient(180deg, #F8385A 0%, #FE9396 100%);
    border: 1px solid #E0E1E1;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 19px;
}

.lang-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EDEDEE;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 12px;
    grid-column-gap: 12px;
    color: #737678;
    font-size: 12px;
    line-height: 16px;

}

.list-lang-select {
    background: #FFFFFF;
    border: 1px solid #E0E1E1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 116px;
    height: auto;

}

.list-lang-select>div {
    padding: 8px 10px;
    grid-column-gap: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #414344;
}

.custommize-dropdown-lang {
    position: relative;
    margin-left: 24px;
}

.list-lang-select {
    position: absolute;
    bottom: -70px;
    right: 0;
}

.menu-mobile {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 248px;
    background: white;
    transition: left .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-mobile.open-it {
    left: 0%;
}


.menu-mobile {
    display: none;
}

.main-nav {
    justify-content: flex-end;
}

.burger-size {
    display: none;
}

.close-burger-menu {

    border-radius: 50%;
    background: #F5F5F5;
    font-size: 28px;
    line-height: 0;
    color: #414344;
    transform: rotate(45deg);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar-nav-mobile {

    padding: 0 24px;
    list-style: none;
}


.sidebar-nav-mobile>li {
    margin-bottom: 4px;
    padding: 10px 12px;

}


.chars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    margin-top: 33px;
}


.logo-1-2 {
    display: none;
}

.toggled .logo-1-2 {
    display: block;
}


.toggled .logo-full {
    display: none;
}

.toggled .label-nav-link {
    display: none;
}

@media (max-width: 1440px) {

    .list-card {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .list-card-super {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .chars {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
    }
}

@media (max-width: 992px) {

    .toggled#n4m-wrapper {
        grid-template-columns: 68px 1fr;
    }

    .toggled .label-nav-link {
        display: none;
    }

    .logo-1-2 {
        display: none;
    }

    .logo-full {
        display: block;
    }

    .toggled .logo-1-2 {
        display: block;
    }

    .toggled .logo-full {
        display: none;
    }

    .toggled .label-nav-link {
        display: none;
    }

    .list-card {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .list-card-super {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .chars {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    #n4m-wrapper {
        grid-template-columns: 68px 1fr;
    }

    .toggled#n4m-wrapper {
        grid-template-columns: 248px 1fr;

    }

    .label-nav-link {
        display: none;
    }

    .toggled .label-nav-link {
        display: block;
    }

    .logo-1-2 {
        display: block;
    }

    .logo-full {
        display: none;
    }

    .toggled .logo-1-2 {
        display: none;
    }

    .toggled .logo-full {
        display: block;
    }

    .list-card {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .list-card-super {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .main-content {
        padding: 0 16px;
    }

    #n4m-sidebar-wrapper {
        display: none;
    }

    #n4m-wrapper {
        grid-template-columns: 1fr;
    }

    .toggled #n4m-sidebar-wrapper {
        display: none;
    }

    .burger-size {
        display: block;
    }

    .main-nav {
        justify-content: space-between;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-mobile {
        display: block;
    }

    .chars {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
    }


}

@media (max-width: 767px) {
    #n4m-sidebar-wrapper {
        display: none;
    }

    #n4m-wrapper {
        grid-template-columns: 1fr;
    }

    .toggled #n4m-sidebar-wrapper {
        display: none;
    }

    .toggled#n4m-wrapper {
        grid-template-columns: 248px 1fr;

    }

    .logo-1-2 {
        display: block;
    }

    .logo-full {
        display: none;
    }

    .toggled .logo-1-2 {
        display: none;
    }

    .toggled .logo-full {
        display: block;
    }

    .list-card {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .list-card-super {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 20px;
    }

    .main-content {
        padding: 0 16px;
    }



    .main-nav {
        justify-content: space-between;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .burger-size {
        display: block;
    }

    .menu-mobile {
        display: block;
    }


    .chars {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 16px;
    }

}

.icon-blur {
    opacity: 0.5;
}

.text-white {
    color: white;
}

.footer {
    color: gray;
    margin: 0 50px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.f-content {
    background-color: #F0F5FA;
}
