.p-24px {
    padding: 24px
}

.px-12px {
    padding: 0 12px
}

.px-56px {
    padding: 0 56px
}

.text-36px {
    font-size: 36px;
}

.text-gray {
    color: #737678;
}

.ml-8px {
    margin-left: 8px;
}

.ml-10px {
    margin-left: 10px;
}

.pl-30px {
    padding-left: 30px;
}

.bg-EA780E {
    background: #EA780E;
}

.border-1 {
    border: 1px solid black;
}

.border-E0E1E1 {
    border-color: #E0E1E1;
}

.bg-FCF5ED {
    background: #FCF5ED;
}


.text-0A0A0A {
    color: #0A0A0A;
}

.text-737678 {
    color: #737678;
}

.bg-09B3CA {
    background: #09B3CA;
}

.bg-0B5CD7 {
    background: #0B5CD7;
}

.text-414344 {
    color: #414344;
}
